.vscode
out/test/**
tsconfig.json
webpack.config.js
node_modules/**
src/**
.git/**
.vscode/**
*.ts
*.js.map
*.log
*.yml
*.json
coverage/**
test/**
releases/**
out/**/*.js
out/**/*.js.map
!out/main.js
images/icon_full.svg
images/icon_black.svg
